<% content_for :title do %>
  <title>Ekologia</title>
<% end %>



<h1 class="header-color">Ekologia</h1>

<h2>Aspekty środowiskowe</h2>

<p><%= image_tag 'firma/ekologia-1.jpg', class: 'image-float-left' %>Wszystkie chemiczne działania wpływają na nasze otoczenie. Dla grupy JOHANSSON ważnym jest aby ten wpływ był jak najmniejszy. Dla utrzymania dużej zdolności konkurencyjnej, zagadnienia zaangażowania ekologicznego, jakość i ekonomia muszą współdziałać między sobą. Przedsiębiorstwa, które preferują produkcję najbardziej przyjazną dla naszego środowiska, mogą wykorzystywać to komercyjnie. W przyszłości klienci będą oceniać jakość produktu oraz zaangażowanie przedsiębiorstwa w zachowanie naturalnego środowiska ze zdecydowanie większymi wymaganiami i uświadomieniem niż jesteśmy do tego przyzwyczajeni.</p>

<p>Już teraz wybieramy surowce przyjaźniejsze dla środowiska i ustawicznie poszukujemy nowych alternatyw dla ekologii jak i środowiska pracy. Stosunek do zagadnień naturalnego środowiska jest ważny dla naszego otoczenia oraz do budowy pozytywnych relacji z klientami. Dlatego wszystkie komponenty, które używamy podczas procesów produkcyjnych posiadają atesty i spelniają wymagania stawiane przez przepisy prawne. Współpracujemy z dostawcami, którzy są certyfikowani według norm ISO-9000 i ISO-14000. Do produkcji naszych sprayów używamy jedynie naturalny gaz nośny, który zachowuje warstwę ozonową a odpadki po produkcyjne obsługujemy według zasad recyklingu.</p>

<h2>Powtórny odzysk</h2>

<p><%= image_tag 'firma/ekologia-2.jpg', class: 'image-float-left' %>Puszkę aerozolową wykonuje się z wysoko jakościowej blachy stalowej lub aluminiowej o grubości 0,2 mm. Obydwa metale są łatwe do sortowania i późniejszego wykorzystywania przy produkcji nowych puszek. Dzisiejszy pojemnik aerozolowy składa sie z ok. 90% materiału umożliwiającego powtórne przerabianie. Dzięki uświadomieniu społeczeństwa, w Europie odzyskuje się więcej niż 2 500 000 000 szt. puszek rocznie. Puste puszki stalowe miesza się ze zwykłym złomem stalowym, a puszki aluminiowe ze złomem aluminiowym. Cześci plastykowe po ściągnieciu z puszki sortuje się do pojemników na twardy plastyk.</p>