<% content_for :title do %>
  <title>Ecology</title>
<% end %>



<h1 class="header-color">Ecology</h1>

<h2>Environmental aspects</h2>

<p><%= image_tag 'firma/ekologia-1.jpg', class: 'image-float-left' %>All chemical activities affect our surroundings. For the JOHANSSON group, it is important that this impact is as low as possible. To maintain high competitive ability, ecological engagement, quality and economics must work together. Enterprises that prefer the most environmentally friendly production can use it commercially. In the future, customers will assess the quality of the product and the company's commitment to preserving the natural environment with far greater requirements and awareness than we are used to.</p>

<p>We are already choosing environmentally friendly raw materials and are constantly looking for new alternatives to ecology and the working environment. Attitude to natural environment issues is important for our environment and for building positive relationships with customers. That is why all the components that we use during production processes are certified and meet the requirements of legal provisions. We work with suppliers who are certified according to ISO-9000 and ISO-14000. For the production of our sprays, we use only natural carrier gas, which retains the ozone layer, and waste from production is handled according to recycling principles.</p>

<h2>Secondary recovery</h2>

<p><%= image_tag 'firma/ekologia-2.jpg', class: 'image-float-left' %>The aerosol can is made of high-quality steel or aluminum sheet with a thickness of 0.2 mm. Both metals are easy to sort and use later in the production of new cans. Today's aerosol container consists of approx. 90% material for re-processing. Thanks to public awareness, more than 2,500,000,000 cans are recovered annually in Europe. Empty steel cans are mixed with ordinary steel scrap and aluminum cans with aluminum scrap. Plastic parts after removal from the can are sorted into containers for hard plastic.</p>