<% content_for :title do %>
  <title>Gwarancja</title>
<% end %>



<h1 class="header-color">Gwarancja</h1>

<h2>Gwarancja jakości</h2>

<p>Nasze opakowania ciśnieniowe podlegają rygorystycznej kontroli i spełniają najsurowsze wymogi jakościowe stawiane przez Unię Europejską.</p>

<p>Gdyby zdarzył się jednak wadliwe działający pojemnik, gwarantujemy użytkownikowi bezzwłoczną wymianę produktu. Udzielamy do sześciu lat gwarancji na nasze spraye!</p>

<p>Wystarczy pokazać rachunek zakupu w punkcie sprzedaży, aby wymienić produkt na nowy.</p>

<p><%= image_tag 'firma/gwarancja.jpg', class: 'image-float-left obraz-rwd' %></p>
