<% content_for :title do %>
  <title>Warranty</title>
<% end %>



<h1 class="header-color">Warranty</h1>

<h2>Guarantee of quality</h2>

<p>Our pressure packaging is subject to strict controls and meets the strictest quality requirements set by the European Union.</p>

<p>However, if a malfunctioning container occurs, we guarantee the user to replace the product immediately. We provide up to six years warranty for our sprays!</p>

<p>Just show the purchase receipt at the point of sale to replace the product with a new one.</p>

<p><%= image_tag 'firma/gwarancja.jpg', class: 'image-float-left obraz-rwd' %></p>
