<% content_for :title do %>
  <title>Johansson Alexander Poland</title>
<% end %>



<h1 class="header-color">O nas</h1>

<h2>Firma</h2>

<p><%= image_tag 'firma/firma.jpg', class: 'image-float-left' %><b>Johansson®</b> specjalizuje się w produkcji sprayów technicznych, specjalnych środków smarujących oraz świadczy usługi w zakresie napełnianiu aerozoli.
Jakość naszych środków smarujących jest wręcz szokująca! Umożliwia ona w sytuacji awaryjnej np. pracę silnika spalinowego całkowicie bez oleju i to pod pełnym obciążeniem!</p>

<p>Przez stosowanie naszych najlepszych sprayów zapewniamy najdłuższe okresy między kolejnymi smarowaniami, zwielokrotniamy żywotność części maszyn, przyspieszamy procesy produkcyjne, prace serwisowe i naprawcze. Krótko mówiąc – niezawodną eksploatację i poprawę ekonomi.</p>

<p>W dobie coraz większej świadomości globalnych zmian klimatycznych istotne znaczenie ma wysoka jakość, jaką reprezentują spraye <b>Johansson®</b>. Ich wspaniała efektywność umożliwia radykalne zmniejszenie ilości zużywanego produktu, wpływając pozytywnie zarówno na środowisko jak i ekonomię użytkownika.
Oczywiście zdecydowanie wyższą klasę naszych aerozoli można sprawdzić poprzez laboratoryjne testy, jednak najprostszym sposobem, jest praktyczne użycie naszego sprayu. Wystarczy raz spróbować, aby pozostać z nami!</p>

<p>Wartość produktów <b>Johansson®</b> na pewno potwierdza fakt dołączenia przez <b>Coca-Colę</b> do grupy naszych klientów.</p>

<p>Wieloletnie doświadczenie, nowoczesne technologie produkcji, wysokie normy jakościowe, pozytywnie wpływają na uzyskiwanie nowych i utrzymanie dotychczasowych klientów. W celu sprostania wymaganiom rynku podejmujemy działania, których rezultatem mają być nie tylko doskonałej jakości aerosole, ale również w pełni profesjonalne wsparcie logistyczne i techniczne.</p>

<h2>Marketing</h2>

<p><%= image_tag 'firma/marketing.jpg', class: 'image-float-left' %>Profesjonalne promowanie marki <b>Johansson®</b> i naszego przedsiębiorstwa ma ścisły związek z owocną i perspektywiczną współpracą z naszymi partnerami. Odnoszone wspólnie sukcesy w lansowaniu naszych produktów są doskonale widoczne na krajowym rynku. Naszym konceptem handlowym jest wyposażenie użytkowników w produkty o możliwie najlepszej jakości przy zachowaniu konkurencyjnych cen.</p>

<p>Współpracujemy ze światowymi dostawcami, liderami w swoich dziedzinach, przedsiębiorstwami, które są certyfikowane wg. norm ISO-9000. Rygorystyczny nacisk na jakość, właściwą logistykę i rozwój zaczyna się od naszych dostawców. Stworzony przez nas system organizacji jakościowej umożliwia osiągnięcie najlepszej pozycji w segmencie naszego profilu.</p>
