<% content_for :title do %>
  <title>Johansson Alexander Poland</title>
<% end %>



<h1 class="header-color">About</h1>

<h2>Company</h2>

<p><%= image_tag 'firma/firma.jpg', class: 'image-float-left' %><b>Johansson速</b> specializes in the production of technical sprays, special lubricants and provides aerosol filling services. The quality of our lubricants is downright shocking! It enables, in an emergency situation, e.g. operation of an internal combustion engine completely without oil and at full load!</p>

<p>By using our best sprays, we ensure the longest intervals between each lubrication, increase the life of machine parts, accelerate production processes, service and repair work. In short - reliable operation and improved economy.</p>

<p>In the era of growing awareness of global climate change, the high quality represented by <b>Johansson速</b> sprays is important. Their great efficiency enables a radical reduction in the amount of product used, positively affecting both the environment and the economy of the user. Of course, the definitely higher class of our aerosols can be checked through laboratory tests, but the easiest way is to use our spray in practice. Just try once to stay with us!</p>

<p>The value of <b>Johansson速</b> products is certainly confirmed by the fact that <b>Coca-Cola</b> has joined our customer group.</p>

<p>Many years of experience, modern production technologies, and high quality standards have a positive impact on getting new and retaining existing customers. In order to meet the market requirements, we take actions that will result not only in excellent quality aerosols, but also fully professional logistic and technical support.</p>

<h2>Marketing</h2>

<p><%= image_tag 'firma/marketing.jpg', class: 'image-float-left' %>Professional promotion of the <b>Johansson速</b> brand and our company is closely related to fruitful and promising cooperation with our partners. Our successes in promoting our products are clearly visible on the domestic market. Our commercial concept is to equip users with products of the best possible quality while maintaining competitive prices.</p>

<p>We work with global suppliers, leaders in their fields, and companies that are certified according to ISO-9000 standards. Strict emphasis on quality, proper logistics and development begins with our suppliers. The quality organization system we created enables us to achieve the best position in the segment of our profile.</p>
