<% content_for :title do %>
  <title>Kontakt</title>
<% end %>



<h1 class="header-color">Kontakt</h1>

<h2>Zapraszamy do kontaktu</h2>

<br>

<div class="container">
  <div class="row">
    
    <div class="col-12 col-md-6">
      <h2>Polski adres</h2>
      <p>
        Johansson Poland<br>
        Budowlanych 4<br>
        Wejherowo, PL - 84-200<br>
        <br>
        tel: +48 58 556 40 95<br>
        fax: +48 883 800 982<br>
        kom: +48 514 458 454<br>
        <br>
        e-mail: <a href="mailto:info@johansson-ab.com">info@johansson-ab.com</a>
      </p>
    </div>

    <div class="col-12 col-md-6">
      <h2>Szwedzki adres</h2>
      <p>
        Johansson Sweden<br>
        Salby 8<br>
        Vellentuna SE- 186 96<br>
        <br>
        tel: +46 8 512 350 84<br>
        <br>
        e-mail: <a href="mailto:office@johansson-ab.com">office@johansson-ab.com</a>
      </p>
    </div>

  </div>
</div>