<% content_for :title do %>
  <title>Aerosols in everyday life</title>
<% end %>



<h1 class="header-color">Aerosols in life</h1>

<h2>Aerosols in everyday life</h2>

<p><%= image_tag 'aerozole/aerozole.jpg', class: 'image-float-right' %>The aerosol container is the most effective, economical and hygienic packaging ever created. By simply pressing the valve, you can precisely spray the desired amount without getting your hands dirty. The content is protected against external contamination, against spillage and evaporation. The can is sealed, durable and easy to take to any workplace. Spray as a practical packaging is increasingly appreciated in everyday life, it is a facilitation in all possible situations.</p>

<br>

<p><%= image_tag('aerozole/rozwoj_produkcji.jpg', class: 'obraz-rwd') %></p>