<% content_for :title do %>
  <title>Aerozole w życiu codziennym</title>
<% end %>



<h1 class="header-color">Aerozole w życiu</h1>

<h2>Aerozole w życiu codziennym</h2>

<p><%= image_tag 'aerozole/aerozole.jpg', class: 'image-float-right' %>Pojemnik aerozolowy jest najbardziej efektywnym, ekonomicznym i higienicznym opakowaniem jakie kiedykolwiek zostało stworzone. Przez proste naciśniecie zaworu, możemy precyzyjnie rozpylić żądaną ilość bez brudzenia rąk. Zawartość jest chroniona przed zewnętrznymi zanieczyszczeniami, przed rozlaniem i wyparowaniem. Puszka jest szczelna, wytrzymała i łatwa do zabrania w dowolne miejsca pracy. Spray jako praktyczne opakowanie jest coraz bardziej doceniany w codziennym życiu, jest ułatwieniem we wszystkich możliwych sytuacjach.</p>

<br>

<p><%= image_tag('aerozole/rozwoj_produkcji.jpg', class: 'obraz-rwd') %></p>