<% content_for :title do %>
  <title>Our aerosols</title>
<% end %>



<h1 class="header-color">Our aerosols</h1>

<h2>Our aerosols are</h2>

<ul>
  <li>quality - higher</li>
  <li>price - lower!</li>
  <li>up to 6 years warranty,</li>
  <li>solid valve protection,</li>
  <li>practical extension tube,</li>
  <li>one product type at six quality levels,</li>
  <li>the spray quality level can be adjusted to customer needs,</li>
  <li>multisprays have a unique START GAZ function,</li>
  <li>lubricating sprays even lubricate through water,</li>
  <li>prevent and limit the direct contact of metal with metal consumption almost to zero!</li>
</ul>

<h2>The principle of operation of our aerosols</h2>

<br>

<p><%= image_tag('aerozole/zasada_dzialania.jpg', class: 'obraz-rwd') %></p>