<% content_for :title do %>
  <title>Nasze aerozole</title>
<% end %>



<h1 class="header-color">Nasze aerozole</h1>

<h2>Nasze aerozole to:</h2>

<ul>
  <li>jakość - wyższa,</li>
  <li>cena - niższa!</li>
  <li>do 6-ciu lat gwarancji,</li>
  <li>solidna ochrona zaworu,</li>
  <li>praktyczna rurka przedłużająca,</li>
  <li>jeden typ produktu na sześciu poziomach jakościowych,</li>
  <li>poziom jakości sprayu można dopasować do potrzeb klienta,</li>
  <li>multispraye posiadają unikalną funkcję START GAZ,</li>
  <li>spraye smarujące smarują nawet przez wodę,</li>
  <li>zapobiegają bezpośredniemu kontaktowi metalu z metalem i ograniczają
zużywanie prawie do zera!</li>
</ul>

<h2>Zasada działania naszych aerozoli</h2>

<br>

<p><%= image_tag('aerozole/zasada_dzialania.jpg', class: 'obraz-rwd') %></p>