<% content_for :title do %>
  <title>Aerosol production process</title>
<% end %>



<h1 class="header-color">Production process</h1>

<h2>Aerosol production process</h2>

<br>

<p>
  <%= image_tag('aerozole/fabryka_aerozoli.jpg', class: 'obraz-rwd') %><br>
  AEROSOL FACTORY
</p>

<ol>
  <li>TANKERS AND GAS POWER COMPONENTS</li>
  <li>MIXING</li>
  <li>FILLING</li>
  <li>RAW MATERIALS STORAGE</li>
  <li>COMPLETED PRODUCTS WAREHOUSE</li>
</ol>

<p><%= image_tag('aerozole/proces_produkcji.jpg', class: 'obraz-rwd') %></p>