<% content_for :title do %>
  <title>Proces produkcji aerozoli</title>
<% end %>



<h1 class="header-color">Proces produkcji</h1>

<h2>Proces produkcji aerozoli</h2>

<br>

<p>
  <%= image_tag('aerozole/fabryka_aerozoli.jpg', class: 'obraz-rwd') %><br>
  FABRYKA AEROZOLI
</p>

<ol>
  <li>CYSTERNY KOMPONENTÓW I GAZU NAPĘDOWEGO</li>
  <li>MIESZALNIA</li>
  <li>NAPEŁNIALNIA</li>
  <li>MAGAZYN SUROWCÓW</li>
  <li>MAGAZYN GOTOWYCH PRODUKTÓW</li>
</ol>

<p><%= image_tag('aerozole/proces_produkcji.jpg', class: 'obraz-rwd') %></p>