<% if cookies[:cookies_notification] != 'closed' %>
  <div class="alert alert-dark alert-dismissible fade show" role="alert">
    This site uses cookies for the proper functioning of the store and shopping cart.
    <button type="button" class="close" id="cookies-notification-close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>