<div id="menu-center">
  <%= link_to image_tag('johansson.png', id: 'menu-image', class: 'logo-rwd'), root_path %>
</div>

<div>
  <button type="button" class="btn btn-dark mr-2" data-toggle="modal" data-target="#exampleModalScrollable">
    MENU
  </button>
</div>